# Configuration file

general {
    # Fireproof Items will gain immunity to any damage source added here.
    # Example:
    #   cactus
    #   lightningBolt
    S:damageTypes <
     >

    # Enables the Fireproof item enchant.
    B:enableFireproofEnchant=true

    # Set to true to make Fireproof Items immune to explosions.
    B:explosionImmunity=false

    # The maximum enchantability required to see the fireproof enchant.
    # Min: 0
    # Max: 100
    I:fireproofEnchantMaxEnchantability=30

    # The minimum enchantability required to see the Fireproof enchant.
    # Min: 0
    # Max: 100
    I:fireproofEnchantMinEnchantability=12

    # Items that will be considered fireproof.
    # Format: <modid>:<itemid>:[meta]=[decayrate]
    #   modid:itemid (required) - the item id
    #   meta (optional) - numerical meta value
    #   decayrate (optional) - How fast the item decays per tick in lava
    # Examples:
    #   minecraft:stick
    #   minecraft:stick:0
    #   minecraft:stick=5
    #   minecraft:stick:0=5
    S:fireproofItems <
        ancientspellcraft:amulet_searing_skin
        ancientspellcraft:belt_emberguard
        ancientspellcraft:belt_fire
        ancientspellcraft:body_fire
        ancientspellcraft:charm_fire_orb
        ancientspellcraft:charm_infernal_stone
        ancientspellcraft:warlock_orb_master_fire
        cyclicmagic:charm_fire
        danknull:dank_null_0
        danknull:dank_null_1
        danknull:dank_null_2
        danknull:dank_null_3
        danknull:dank_null_4
        danknull:dank_null_5
        danknull:dank_null_6
        ebwizardry:battlemage_boots_fire
        ebwizardry:battlemage_chestplate_fire
        ebwizardry:battlemage_helmet_fire
        ebwizardry:battlemage_leggings_fire
        ebwizardry:master_fire_wand
        ebwizardry:warlock_boots_fire
        ebwizardry:warlock_hood_fire
        ebwizardry:warlock_leggings_fire
        ebwizardry:warlock_robe_fire
        ebwizardry:ring_disintegration
        ebwizardry:ring_fire_melee
        ebwizardry:ring_combustion
        ebwizardry:amulet_fire_cloaking
        extrautils2:compoundbow
        extrautils2:fireaxe
        extrautils2:lawsword
        futuremc:record_pigstep
        iceandfire:armor_bronze_boots
        iceandfire:armor_bronze_chestplate
        iceandfire:armor_bronze_helmet
        iceandfire:armor_bronze_leggings
        iceandfire:armor_gray_boots
        iceandfire:armor_gray_chestplate
        iceandfire:armor_gray_helmet
        iceandfire:armor_gray_leggings
        iceandfire:armor_green_boots
        iceandfire:armor_green_chestplate
        iceandfire:armor_green_helmet
        iceandfire:armor_green_leggings
        iceandfire:armor_red_boots
        iceandfire:armor_red_chestplate
        iceandfire:armor_red_helmet
        iceandfire:armor_red_leggings
        iceandfire:dragonbone_sword_fire
        iceandfire:dragonbone_sword_ice
        iceandfire:dragonforge_fire_brick
        iceandfire:dragonforge_fire_core
        iceandfire:dragonforge_fire_core_disabled
        iceandfire:dragonforge_fire_input
        iceandfire:dragonsteel_fire_axe
        iceandfire:dragonsteel_fire_boots
        iceandfire:dragonsteel_fire_chestplate
        iceandfire:dragonsteel_fire_helmet
        iceandfire:dragonsteel_fire_hoe
        iceandfire:dragonsteel_fire_leggings
        iceandfire:dragonsteel_fire_pickaxe
        iceandfire:dragonsteel_fire_shovel
        iceandfire:dragonsteel_fire_sword
        iceandfire:dragonsteel_ice_axe
        iceandfire:dragonsteel_ice_boots
        iceandfire:dragonsteel_ice_chestplate
        iceandfire:dragonsteel_ice_helmet
        iceandfire:dragonsteel_ice_hoe
        iceandfire:dragonsteel_ice_leggings
        iceandfire:dragonsteel_ice_pickaxe
        iceandfire:dragonsteel_ice_shovel
        iceandfire:dragonsteel_ice_sword
        inventorypets:magma_cube_pet
        mospells:amulet_golden_sun
        mowziesmobs:ice_crystal
        spartanfire:battleaxe_fire_dragonbone
        spartanfire:battleaxe_fire_dragonsteel
        spartanfire:battleaxe_ice_dragonbone
        spartanfire:boomerang_fire_dragonbone
        spartanfire:boomerang_fire_dragonsteel
        spartanfire:boomerang_ice_dragonbone
        spartanfire:boomerang_ice_dragonsteel
        spartanfire:crossbow_fire_dragonbone
        spartanfire:crossbow_fire_dragonsteel
        spartanfire:dagger_fire_dragonbone
        spartanfire:dagger_fire_dragonsteel
        spartanfire:dagger_ice_dragonbone
        spartanfire:dagger_ice_dragonsteel
        spartanfire:glaive_fire_dragonbone
        spartanfire:glaive_fire_dragonsteel
        spartanfire:glaive_ice_dragonbone
        spartanfire:glaive_ice_dragonsteel
        spartanfire:hammer_fire_dragonbone
        spartanfire:hammer_fire_dragonsteel
        spartanfire:hammer_ice_dragonbone
        spartanfire:hammer_ice_dragonsteel
        spartanfire:katana_fire_dragonbone
        spartanfire:katana_fire_dragonsteel
        spartanfire:katana_ice_dragonbone
        spartanfire:katana_ice_dragonsteel
        spartanfire:longbow_fire_dragonbone
        spartanfire:longbow_fire_dragonsteel
        spartanfire:longsword_fire_dragonbone
        spartanfire:longsword_fire_dragonsteel
        spartanfire:longsword_ice_dragonbone
        spartanfire:longsword_ice_dragonsteel
        spartanfire:lance_fire_dragonbone
        spartanfire:lance_fire_dragonsteel
        spartanfire:lance_ice_dragonbone
        spartanfire:lance_ice_dragonsteel
        spartanfire:mace_fire_dragonbone
        spartanfire:mace_fire_dragonsteel
        spartanfire:mace_ice_dragonbone
        spartanfire:mace_ice_dragonsteel
        spartanfire:pike_fire_dragonbone
        spartanfire:pike_fire_dragonsteel
        spartanfire:pike_ice_dragonbone
        spartanfire:pike_ice_dragonsteel
        spartanfire:rapier_fire_dragonbone
        spartanfire:rapier_fire_dragonsteel
        spartanfire:rapier_ice_dragonbone
        spartanfire:rapier_ice_dragonsteel
        spartanfire:saber_fire_dragonbone
        spartanfire:saber_fire_dragonsteel
        spartanfire:saber_ice_dragonbone
        spartanfire:saber_ice_dragonsteel
        spartanfire:spear_fire_dragonbone
        spartanfire:spear_fire_dragonsteel
        spartanfire:spear_ice_dragonbone
        spartanfire:spear_ice_dragonsteel
        spartanfire:staff_fire_dragonbone
        spartanfire:staff_fire_dragonsteel
        spartanfire:staff_ice_dragonbone
        spartanfire:staff_ice_dragonsteel
        spartanfire:throwing_axe_fire_dragonbone
        spartanfire:throwing_axe_fire_dragonsteel
        spartanfire:throwing_axe_ice_dragonbone
        spartanfire:throwing_axe_ice_dragonsteel
        spartanfire:throwing_knife_fire_dragonbone
        spartanfire:throwing_knife_fire_dragonsteel
        spartanfire:throwing_knife_ice_dragonbone
        spartanfire:throwing_knife_ice_dragonsteel
        thebetweenlands:lonely_fire
        thebetweenlands:octine_ingot
        thebetweenlands:octine_shield
        thebetweenlands:octine_sword
        thebetweenlands:octine_shovel
        thebetweenlands:octine_axe
        thebetweenlands:octine_pickaxe
        thebetweenlands:octine_arrow
        twilightforest:fiery_boots
        twilightforest:fiery_chestplate
        twilightforest:fiery_helmet
        twilightforest:fiery_ingot
        twilightforest:fiery_leggings
        twilightforest:fiery_pickaxe
        twilightforest:fiery_sword
        twilightforest:block_storage:1
        wizardrygolems:amulet_steaming_netherrack
        wizardrygolems:charm_fire_golemancy_potency
        wizardrygolems:charm_ifrit_bottle
        wizardrygolems:ring_flame_golem
        wizardrygolems:ring_flame_trail
        wizardrygolems:ring_fire_golem_duration
        xreliquary:infernal_claws
        xreliquary:pyromancer_staff
        xreliquary:salamander_eye
     >
}


