# Configuration file

##########################################################################################################
# visual_options
#--------------------------------------------------------------------------------------------------------#
#  Legendary Tooltips Configuration Instructions
# 
#  *** READ THIS FIRST ***
# 
#  By default, this mod does not apply special borders to most items.  It was designed to work well with mod packs
#  where the available selection of items can vary widely, so it is up to the user or mod pack designer to customize as needed.
#  There are many options available for setting up which custom borders (also called frames) apply to which items.  Follow these steps:
#    1. Decide which items you want to have custom borders, and which borders.  Note that each custom border has a number associated with it (starting at 0).
#    2. For each custom border you want to use, fill out the associated list in the "definitions" section.  This will be filled out with a list of "selectors",
#       each of which tell the mod what items have that border.  Please read the information above the definitions section for specifics.
#    3. Selectors for borders are checked in the order provided in the "priorities" section.  Once a match is found, that border is displayed.
#       For example, if border 0 had the selector "%Diamond" and border 1 had the selector "diamond_sword", they would both match for diamond swords.
#       In this case, whichever border number came first in the priority list would be the border that would get drawn in-game.
#    4. Optionally, border colors associated with custom borders can be set in the "colors" section.  The start color is the color at the top of the tooltip,
#       and the end color is the bottom, with a smooth transition between.  Please read the information above the color section for specifics.
##########################################################################################################

visual_options {
    # If enabled, tooltip border colors will match item rarity colors (except for custom borders). [default: true]
    B:borders_match_rarity=true

    # Whether item names in tooltips should have a line under them separating them from the rest of the tooltip. [default: true]
    B:name_separator=true

    # If enabled, items showing a custom border will have a special shine effect when hovered over. [default: true]
    B:shine_effect=true

    # Whether or not to repeat the shine effect, or to only play it once. [default: false]
    B:shine_repeat=false

    # Whether or not to sync horizontal and vertical shine, or delay vertical shine. [default: false]
    B:shine_sync=false

    # The speed at which to play the shine effect, higher value is slower. [range: 20 ~ 800, default: 50]
    I:shine_ticks=50

    # If enabled, tooltips will display a drop shadow. [default: true]
    B:tooltip_shadow=true
}


##########################################################################################################
# definitions
#--------------------------------------------------------------------------------------------------------#
#  Entry types:
#    Item name - Use item name for vanilla items or include mod name for modded items.  Examples: minecraft:stick, iron_ore
#    Item Metadata - After an item name, you may include a colon and then a number to indicate metadata.  Examples: minecraft:wool:5, minecraft:sponge:1
#    Tag - $ followed by ore dictionary tag name.  Examples: $plankWood or $ingotIron
#    Mod name - @ followed by mod identifier.  Examples: @spoiledeggs
#    Rarity - ! followed by item's rarity.  Examples: !uncommon, !rare !epic
#    Item name color - # followed by color hex code, the hex code must match exactly.  Examples: #23F632
#    Display name - % followed by any text.  Will match any item with this text in its tooltip display name.  Examples: %Uncommon
#    Tooltip text - ^ followed by any text.  Will match any item with this text anywhere in the tooltip text (besides the name).  Examples: ^Legendary
#    NBT tag - & followed by tag name and optional comparator (=, >, <, or !=) and value, in the format <tag><comparator><value> or just <tag>.
#              Examples: &Damage=0, &Tier>1, &Enchantments, &map!=128
##########################################################################################################

definitions {
    #  [default: [!epic], [!rare]]
    S:level0_entries <
        %Crate Of Legendary Tier Rewards
        !epic
        
     >

    #  [default: ]
    S:level1_entries <
        %Crate of Epic Rewards
        %Crate of Epic Artifacts
        !rare
     >

    #  [default: ]
    S:level2_entries <
        %Crate of Rare Rewards
        %Crate of Rare Wizard Artifacts
        !uncommon
     >

    #  [default: ]
    S:level3_entries <
        iceandfire:dragonsteel_fire_sword
        iceandfire:dragonsteel_fire_pickaxe
        iceandfire:dragonsteel_fire_axe
        iceandfire:dragonsteel_fire_shovel
        iceandfire:dragonsteel_fire_hoe
        iceandfire:dragonsteel_fire_helmet
        iceandfire:dragonsteel_fire_chestplate
        iceandfire:dragonsteel_fire_leggings
        iceandfire:dragonsteel_fire_boots
        iceandfire:dragonarmor_dragonsteel_fire
        iceandfire:dragonarmor_dragonsteel_fire:1
        iceandfire:dragonarmor_dragonsteel_fire:2
        iceandfire:dragonarmor_dragonsteel_fire:3
        @spartannetherite
        spartanfire:boomerang_fire_dragonbone
        spartanfire:katana_fire_dragonbone
        spartanfire:greatsword_fire_dragonbone
        spartanfire:longsword_fire_dragonbone
        spartanfire:saber_fire_dragonbone
        spartanfire:rapier_fire_dragonbone
        spartanfire:dagger_fire_dragonbone
        spartanfire:spear_fire_dragonbone
        spartanfire:pike_fire_dragonbone
        spartanfire:lance_fire_dragonbone
        spartanfire:halberd_fire_dragonbone
        spartanfire:warhammer_fire_dragonbone
        spartanfire:hammer_fire_dragonbone
        spartanfire:throwing_axe_fire_dragonbone
        spartanfire:throwing_knife_fire_dragonbone
        spartanfire:longbow_fire_dragonbone
        spartanfire:crossbow_fire_dragonbone
        spartanfire:javelin_fire_dragonbone
        spartanfire:battleaxe_fire_dragonbone
        spartanfire:mace_fire_dragonbone
        spartanfire:staff_fire_dragonbone
        spartanfire:glaive_fire_dragonbone
        spartanfire:battleaxe_fire_dragonsteel
        spartanfire:boomerang_fire_dragonsteel
        spartanfire:mace_fire_dragonsteel
        spartanfire:staff_fire_dragonsteel
        spartanfire:glaive_fire_dragonsteel
        spartanfire:longbow_fire_dragonsteel
        spartanfire:crossbow_fire_dragonsteel
        spartanfire:javelin_fire_dragonsteel
        spartanfire:katana_fire_dragonsteel
        spartanfire:greatsword_fire_dragonsteel
        spartanfire:longsword_fire_dragonsteel
        spartanfire:saber_fire_dragonsteel
        spartanfire:rapier_fire_dragonsteel
        spartanfire:dagger_fire_dragonsteel
        spartanfire:spear_fire_dragonsteel
        spartanfire:pike_fire_dragonsteel
        spartanfire:lance_fire_dragonsteel
        spartanfire:halberd_fire_dragonsteel
        spartanfire:warhammer_fire_dragonsteel
        spartanfire:hammer_fire_dragonsteel
        spartanfire:throwing_axe_fire_dragonsteel
        spartanfire:throwing_knife_fire_dragonsteel
     >

    #  [default: ]
    S:level4_entries <
        aquaculture:iron_fishing_rod
        aquaculture:gold_fishing_rod
        aquaculture:diamond_fishing_rod
        aquaculture:admin_fishing_rod
        aquaculture:neptunium_pickaxe
        aquaculture:neptunium_shovel
        aquaculture:neptunium_axe
        aquaculture:neptunium_hoe
        aquaculture:neptunium_helmet
        aquaculture:neptunium_chestplate
        aquaculture:neptunium_leggings
        aquaculture:neptunium_boots
        iceandfire:dragonarmor_dragonsteel_ice
        iceandfire:dragonarmor_dragonsteel_ice:1
        iceandfire:dragonarmor_dragonsteel_ice:2
        iceandfire:dragonarmor_dragonsteel_ice:3
        iceandfire:dragonsteel_ice_helmet
        iceandfire:dragonsteel_ice_chestplate
        iceandfire:dragonsteel_ice_leggings
        iceandfire:dragonsteel_ice_boots
        iceandfire:dragonsteel_ice_sword
        iceandfire:dragonsteel_ice_pickaxe
        iceandfire:dragonsteel_ice_axe
        iceandfire:dragonsteel_ice_shovel
        iceandfire:tide_trident
        oe:trident
        spartanfire:katana_ice_dragonbone
        spartanfire:greatsword_ice_dragonbone
        spartanfire:longsword_ice_dragonbone
        spartanfire:saber_ice_dragonbone
        spartanfire:rapier_ice_dragonbone
        spartanfire:dagger_ice_dragonbone
        spartanfire:spear_ice_dragonbone
        spartanfire:pike_ice_dragonbone
        spartanfire:lance_ice_dragonbone
        spartanfire:warhammer_ice_dragonbone
        spartanfire:hammer_ice_dragonbone
        spartanfire:throwing_axe_ice_dragonbone
        spartanfire:throwing_knife_ice_dragonbone
        spartanfire:longbow_ice_dragonbone
        spartanfire:crossbow_ice_dragonbone
        spartanfire:javelin_ice_dragonbone
        spartanfire:halberd_ice_dragonbone
        spartanfire:battleaxe_ice_dragonbone
        spartanfire:boomerang_ice_dragonbone
        spartanfire:mace_ice_dragonbone
        spartanfire:staff_ice_dragonbone
        spartanfire:glaive_ice_dragonbone
        spartanfire:boomerang_ice_dragonsteel
        spartanfire:mace_ice_dragonsteel
        spartanfire:staff_ice_dragonsteel
        spartanfire:glaive_ice_dragonsteel
        spartanfire:longbow_ice_dragonsteel
        spartanfire:crossbow_ice_dragonsteel
        spartanfire:javelin_ice_dragonsteel
        spartanfire:battleaxe_ice_dragonsteel
        spartanfire:katana_ice_dragonsteel
        spartanfire:greatsword_ice_dragonsteel
        spartanfire:longsword_ice_dragonsteel
        spartanfire:saber_ice_dragonsteel
        spartanfire:rapier_ice_dragonsteel
        spartanfire:dagger_ice_dragonsteel
        spartanfire:spear_ice_dragonsteel
        spartanfire:pike_ice_dragonsteel
        spartanfire:lance_ice_dragonsteel
        spartanfire:halberd_ice_dragonsteel
        spartanfire:warhammer_ice_dragonsteel
        spartanfire:hammer_ice_dragonsteel
        spartanfire:throwing_axe_ice_dragonsteel
        spartanfire:throwing_knife_ice_dragonsteel
        
     >

    #  [default: ]
    S:level5_entries <
        roots:herb_pouch
        roots:component_pouch
        roots:apothecary_pouch
        roots:fey_pouch
        roots:staff
        roots:sylvan_helmet
        roots:sylvan_chestplate
        roots:sylvan_leggings
        roots:sylvan_boots
        roots:wildwood_helmet
        roots:wildwood_chestplate
        roots:wildwood_leggings
        roots:wildwood_boots
        roots:wildwood_bow
        roots:wildwood_quiver
        roots:terrastone_axe
        roots:terrastone_shovel
        roots:terrastone_hoe
        roots:terrastone_sword
        roots:living_pickaxe
        roots:living_axe
        roots:living_shovel
        roots:living_hoe
        roots:living_sword
        roots:living_arrow
        roots:terrastone_pickaxe
        roots:runed_dagger
        roots:runed_sword
        roots:runed_hoe
        roots:runed_shovel
        roots:runed_axe
        roots:runed_pickaxe
        
     >

    #  [default: ]
    S:level6_entries <
        spartanfire:boomerang_dragonbone
        spartanfire:katana_dragonbone
        spartanfire:greatsword_dragonbone
        spartanfire:longsword_dragonbone
        spartanfire:saber_dragonbone
        spartanfire:rapier_dragonbone
        spartanfire:dagger_dragonbone
        spartanfire:spear_dragonbone
        spartanfire:pike_dragonbone
        spartanfire:lance_dragonbone
        spartanfire:halberd_dragonbone
        spartanfire:warhammer_dragonbone
        spartanfire:hammer_dragonbone
        spartanfire:throwing_axe_dragonbone
        spartanfire:throwing_knife_dragonbone
        spartanfire:longbow_dragonbone
        spartanfire:crossbow_dragonbone
        spartanfire:javelin_dragonbone
        spartanfire:battleaxe_dragonbone
        spartanfire:mace_dragonbone
        spartanfire:staff_dragonbone
        spartanfire:glaive_dragonbone
        @tombstone
     >

    #  [default: ]
    S:level7_entries <
        $record
     >

    #  [default: ]
    S:level8_entries <
        &ench
        minecraft:enchanted_book
     >

    #  [default: ]
    S:level9_entries <
     >

    #  [default: ]
    S:level10_entries <
     >

    #  [default: ]
    S:level11_entries <
     >

    #  [default: ]
    S:level12_entries <
     >

    #  [default: ]
    S:level13_entries <
     >

    #  [default: ]
    S:level14_entries <
     >

    #  [default: ]
    S:level15_entries <
     >
}


##########################################################################################################
# priorities
#--------------------------------------------------------------------------------------------------------#
# Set border priorities here.  This should be a string containing a comma-separated list of numbers that
# correspond to border levels, with numbers coming first being higher priority.
##########################################################################################################

priorities {
    #  [default: 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
    S:priorities=8,7,6,5,4,3,0,1,2,9,10,11,12,13,14,15
}


##########################################################################################################
# colors
#--------------------------------------------------------------------------------------------------------#
# The start and end border colors and background colors of each level.
#  Note that they can be entered as any one of: a hex color code in the format #AARRGGBB or #RRGGBB, OR a string color name.
#  Examples: #FFFF00, #FF73D984, red, #FFCC00
##########################################################################################################

colors {
    #  [default: #FF996922]
    S:level0_start_color=#DAA520

    #  [default: #FF5A3A1D]
    S:level0_end_color=#F0E68C

    #  [default: #FF996922]
    S:level1_start_color=#4600FC

    #  [default: #FF5A3A1D]
    S:level1_end_color=#AB8AFF

    #  [default: #FF996922]
    S:level2_start_color=#004CFF

    #  [default: #FF5A3A1D]
    S:level2_end_color=#8AADFF

    #  [default: #FF996922]
    S:level3_start_color=#FF0000

    #  [default: #FF5A3A1D]
    S:level3_end_color=#FFBE5C

    #  [default: #FF996922]
    S:level4_start_color=#52DFFF

    #  [default: #FF5A3A1D]
    S:level4_end_color=#B8F2FF

    #  [default: #FF996922]
    S:level5_start_color=#A7FF00

    #  [default: #FF5A3A1D]
    S:level5_end_color=#D6FF8A

    #  [default: #FF996922]
    S:level6_start_color=#E7E7E7

    #  [default: #FF5A3A1D]
    S:level6_end_color=#FFFFFF

    #  [default: #FF996922]
    S:level7_start_color=#A1A1A1

    #  [default: #FF5A3A1D]
    S:level7_end_color=EDEDED

    #  [default: #FF996922]
    S:level8_start_color=#C38CF0

    #  [default: #FF5A3A1D]
    S:level8_end_color=#9F46E7

    #  [default: #FF996922]
    S:level9_start_color=#FF996922

    #  [default: #FF5A3A1D]
    S:level9_end_color=#FF5A3A1D

    #  [default: #FF996922]
    S:level10_start_color=#FF996922

    #  [default: #FF5A3A1D]
    S:level10_end_color=#FF5A3A1D

    #  [default: #FF996922]
    S:level11_start_color=#FF996922

    #  [default: #FF5A3A1D]
    S:level11_end_color=#FF5A3A1D

    #  [default: #FF996922]
    S:level12_start_color=#FF996922

    #  [default: #FF5A3A1D]
    S:level12_end_color=#FF5A3A1D

    #  [default: #FF996922]
    S:level13_start_color=#FF996922

    #  [default: #FF5A3A1D]
    S:level13_end_color=#FF5A3A1D

    #  [default: #FF996922]
    S:level14_start_color=#FF996922

    #  [default: #FF5A3A1D]
    S:level14_end_color=#FF5A3A1D

    #  [default: #FF996922]
    S:level15_start_color=#FF996922

    #  [default: #FF5A3A1D]
    S:level15_end_color=#FF5A3A1D

    #  [default: #F0160A00]
    S:level0_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level10_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level11_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level12_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level13_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level14_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level15_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level1_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level2_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level3_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level4_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level5_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level6_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level7_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level8_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level9_bg_color=#F0160A00
}


